<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <form action="http://localhost:8080/mvcTest/login.do" method="post">
    	User ID:<input type="text" name="userId"/><br/>
    	Password:<input type="text" name="password"/><br/>
    	<input type="submit" value="Submit">
    </form>
  </body>
</html>
